<div class="container-no-homepages">

  <h1 id="tableLabel">Users</h1>

  <p>This component demonstrates all available users (only for Admins).</p>

  <p *ngIf="!users"><em>Loading...</em></p>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
    <thead>
      <tr>
        <th> Foto </th>
        <th> Firstname</th>
        <th> Lastname</th>
        <th> Email</th>
        <th> Phonenumber</th>
        <th> Address</th>
        <th> Postcode</th>
        <th> Status</th>
        <th> Role</th>
        <th> Registration</th>
        <th>
        <button type="button" class="btn btn-outline-info btn-sm mr-1">Add student</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td><img src="/team/null.jpg" class="thumbnail-login" alt="foto" width="100" height="50"></td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.adress }}</td>
        <td>{{ user.postcode }}</td>
        <td>{{ user.status }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.registrationDate }}</td>
        <td>
          <button type="button" class="btn btn-outline-dark btn-sm mr-1">Edit</button>
          <button type="button" class="btn btn-outline-info btn-sm mr-1">Details</button>
          <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
